.card{
  background: aliceblue;
  opacity: 0.9;
}

p{
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  
}

h3{
  padding-left: 10px;
  text-align: center;
}

h4,h5{
  padding-left: 10px;
}